

/* Style for the blinking ring green */
.dot {
    height: 20px;
    width: 21px;
    border: 2px solid transparent; 
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 15px; 
    right: 10px; 
    transition: border-color 0.2s ease-in-out;
  }
  
 
  @keyframes blink-ring {
    0% {
      border: 7px solid green; 
      opacity: 1;
    }
    50% {
      border: 2px solid transparent; 
      opacity: 0.7;
    }
    100% {
      border: 2px solid green; 
      opacity: 1;
    }
  }
  
  .blinking-ring {
    animation: blink-ring 1s step-end infinite;
  }
   

  